name: Deploy-CDK-DeploymentRoleStack/Admin

on:
  push:
    branches:
      - main

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

env:
  CDK_DEFAULT_REGION: us-east-2
  GITHUBDEPLOYROLE: ${{ vars.GITHUBDEPLOYROLE }}
  ACCOUNT_ID: ${{ vars.ACCOUNT_ID }}
  ENVIRONMENT: "management"
  CDK_DEPLOY_ACCOUNT: ${{ vars.ACCOUNT_ID }}
  CDK_DEPLOY_REGION: ${{ vars.REGION }}

jobs:
  deploy-to-mmi-admin-environment:
    name: Deploy to management
    environment: management
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      # Configure AWS Creds management
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ env.ACCOUNT_ID }}:role/${{ env.GITHUBDEPLOYROLE }}
          role-session-name: GithubActionsRoleManagement
          aws-region: ${{ vars.REGION }}

      - name: Install CDK
        run: |
          cd cdk
          npm install -g aws-cdk
          npm install

      - name: Install requirements
        run: |
          cd cdk
          pip install -r requirements.txt
      - name: CDK Synth
        run: |
          cd cdk
          cdk synth
      - name: Deploy Deployment Roles
        run: |
          cd cdk
          cdk deploy --app 'cdk.out/' DeploymentRolesStackSet --require-approval never